@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

.body {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.05);
    overflow: hidden;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.single .container {
    width: 55%;
    height: 65vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    overflow: hidden;
}

.single .fa-camera {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
}


.single input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding-bottom: .3rem;
    width: 250px;
    margin-bottom: .4rem;
    margin-left: 6.1rem;
}

.sinlge a {
    color: rgba(0,0,0,.6);
}

.sinlge a:hover {
    color: blue;
}

.logo {
    font-family: 'Oleo Script', cursive;
    font-size: 2.5rem;
    line-height: 1rem;
}

.single img {
    height: 100%;
    margin: auto;
    width: 703px;
}

.single .tab {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: .5rem;
    z-index: 1000;
    background-color: rgba(255,255,255, .8);
    margin: auto;
}

.single .fa-globe {
    font-size: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: -2rem;
}

.single .action {
    display: flex;
}

.single h1 {
    display: inline;
}

.single .fa-user {
    color: rgba(0,0,0,.2);
    margin-right: .5rem;
}

.single .fa-user:hover {
    color: blue;
}

.single .fa-arrow-left {
    color: rgba(0,0,0,.5);
}

.single .fa-arrow-left:hover {
    color: blue;
}

.single .fa-times {
    margin-left: .5rem;
    color: rgba(0,0,0,.3);
}

.single .fa-pencil-alt {
    margin-left: .5rem;
    color: rgba(0,0,0,.3);
}

@media only screen and (max-width: 650px) {
    .dropzone div {
        display: none;
    }

    .single .fa-globe {
        display: none;
    }

    .single h1 {
        padding-left: 1rem;
        margin-bottom: -1rem;
    }

    .single input {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }
}
