@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

.body {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.05);
    overflow: hidden;
}

.user header ul {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;

}

.user header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    background-color: white;
}

.user section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    overflow: scroll;
    padding-bottom: 7rem;
}

.user a {
    color: rgba(0,0,0,.6);
}

.user a:hover {
    color: blue;
}

.user .api {
    height: 600px;
    width: 500px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.user .api img {
    height: 400px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    margin: auto;
}

.user h3 {
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    font-size: .8rem;
}

.user h2 {
    display: inline;
    font-size: 1rem;
}

.user h4 {
    margin-left: 3rem;
    padding-bottom: 1rem;
    color: rgba(0,0,0,.4);
    font-size: .7rem;
}

.user .fa-globe {
    font-size: 2rem!important;
    margin-right: 1rem;
}

.user .fa-user {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
    margin-right: .5rem;
}

.user .fa-heart {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
    margin-top: .5rem;
    margin-right: .5rem;
}

.user .logo {
    font-family: 'Oleo Script', cursive;
    font-size: 2.5rem;
    line-height: 1rem;
}

.user .fa-camera {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
}
