@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

.body {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.05);
    overflow: hidden;
}

.user_profile header ul {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

.user_profile header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    background-color: white;
}


.user_profile .fa-globe {
    font-size: 8rem;
}

.user_profile .fa-heart {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
    margin-top: .5rem;
}

.user_profile .logo {
    font-family: 'Oleo Script', cursive;
    font-size: 2.5rem;
    line-height: 1rem;
}

.user_profile .fa-camera {
    font-size: 1.2rem;
    color: rgba(0,0,0,.2);
}

.profile {
    position: absolute;
    top: 12%;
    width: 100%;
}

.profile ul {
    display: flex;
    justify-content: center;
}

.dropzone div {
    height: 150px!important;
    width: 150px!important;
}

.dropzone p {
    text-align: center;
    padding-top: 3.5rem;
    font-size: .8rem;
}

.user_profile h5 {
    font-size: .8rem;
    text-align: center;
    padding: 1rem;
    color: rgba(0,0,0,.3);
    position: absolute;
    bottom: 0;
    width: 100%
}

.user_profile .username {
    padding: 2rem;
}

.user_profile .username h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 4rem;
    line-height: 3rem;
    text-align: left;
}

.user_profile .saved {
    width: 60%;
    height: 55vh;
    overflow: scroll;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    position: absolute;
    top: 35%;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.user_profile .image {
    height: 100%;
    width: 100%;
}

.user_profile .saved .container {
    height: 200px;
    width: 47%;
    top: 0%;
    background-color: white;
    margin: auto;
    margin: .5rem;
    position: relative!important;
}

.user_profile .description {
    position: absolute;
    bottom: 0;
    color: white;
}

.user_profile a {
    color: rgba(0,0,0,.6);
}

.user_profile a:hover {
    color: blue;
}

.user_profile .fa-search {
    margin-left: .5rem;
    color: rgba(0,0,0,.3);
}

.user_profile .fa-search:hover {
    color: blue;
}

.user_profile .fa-eye {
    margin-left: .5rem;
    color: white;
    position: absolute;
}

@media only screen and (max-width: 900px) {
    .user_profile .saved .container {
        width: 100%;
    }

    .user_profile .fa-globe {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 650px) {
    .dropzone div {
        display: none!important;
    }

    .user_profile .username h1 {
        font-size: 3rem;
    }

    .user_profile .username h2 {
        font-size: .8rem;
    }

    .user_profile .fa-globe {
        font-size: 4rem;
    }

    .user_profile .username {
        padding: 1rem;
    }
}
